# Microsoft Genomics - Sample Configuration File
# Instructions
# 1.  Entries are provided in key-value pairs, like key:value
# 2.  Whitespace (tabs, spaces) don't matter
# 3.  Lines starting with # are ignored

api_url_base: https://eastus2.microsoftgenomics.net
subscription_key: 04afabfc1af94c8285faec2f15e4e459
process_args: R=b37m1
input_storage_account_name: cfgenomics
input_storage_account_key: 6GyBAbvgw5sqo2xZ1ex5JSda82nu1/edfDvyAcvFSBE9oixUniajPfumB6hfQgs2ArYzt/8I/Sj+F+u9q3B0mA==
input_storage_account_container: myinputdata
blob_name_1: NA12878-chr21_1.fq.gz
blob_name_2: NA12878-chr21_2.fq.gz
output_storage_account_name: cfgenomics
output_storage_account_key: 6GyBAbvgw5sqo2xZ1ex5JSda82nu1/edfDvyAcvFSBE9oixUniajPfumB6hfQgs2ArYzt/8I/Sj+F+u9q3B0mA==
output_storage_account_container: myoutputdata